# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE/editor files
*.vscode/
*.idea/
*.DS_Store

# Logs and database files
*.log
*.sqlite3

# Environment variables
.env
